body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.admin-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-btn {
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn.active {
    background-color: #4CAF50;
    color: white;
}

.section {
    display: none;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.section.active {
    display: block;
}

/* Inside styles.css */

/* Style for the user list table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Style for table header */
th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: left;
}

/* Style for table rows */
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Style for alternate row colors */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect on table rows */
tr:hover {
    background-color: #f0f0f0;
}



.button-container {
    display: flex;
    gap: 8px; /* Adjust the gap as needed */
}

.button-container button {
    padding: 8px 16px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #45a049; /* Darker green */
}

.button-container button.delete {
    background-color: #f44336; /* Red */
}

.button-container button.delete:hover {
    background-color: #da190b; /* Darker red */
}






#addItemButton {
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-top: 20px; /* Adjust the margin as needed */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addItemButton:hover {
    background-color: #0056b3;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.container {
    margin-left: 200px;
}
