 body {
        background-color: #000000;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
     
    }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0 20px;
      }
      .left{
        /* background-color: red; */
        width: 40%;
        height: inherit;
        /* background-color: blue; */
      }
      .right{
        /* background-color: red; */
        flex : 1;
      }
      form {
        /* background-color: rgba(255, 255, 255, 0.1); */
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        /* max-width: 400px; */
        /* margin-right: 20px; */
      }
      form h1{
        color: #ffffff;
      }

      label {
        color: #fff;
        display: block;
        margin-bottom: 10px;
      }

      input[type="text"],
      input[type="password"] {
        width: 90%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #302d2d;
        color: #fff;
        margin-bottom: 15px;
      }

      button[type="submit"] {
        width: 50%;
        background-color: transparent;
        border: 2px solid #bd00ff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
      }

      button[type="submit"]:hover {
        border :1px solid skyblue;
        /* color: #302d2d; */
      }

      .right img {
        width: 828px;
        height: 1024px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        object-fit: contain;
        margin: 0 0 0 80px;
      }
      .button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      }
      p{
        color: white;
      }