
/* CSS styling for the header */
header {
    background-color: #000000;
    padding: 10px;
}

.logo1,
.search-bar,
.navigation {
    display: inline-block;
    vertical-align: middle;
}
.navigation {
    float: right;
    margin-right: 10px; 
}
.navigation li {
    display: inline-block;
    margin-left: 20px; /* Adjust the margin between navigation items */
}
.navigation li a {
    text-decoration: none;
    font-style: normal;
    font-family: Roboto;
    letter-spacing: 1.2px;
    font-size: 24px;
    color: #fff;
    padding: 10px;
}
.navigation li a img {
    height: 50.21px;
    width: 50.21px;
    vertical-align: middle;
}
.search-bar {
    margin-right: 20px; /* Adjust the margin between the logo and search bar */
    
}
.search-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    margin-top: 15px;
}
.search-container input[type="text"] {
    padding: 5px 30px 5px 10px; /* Adjust the padding to accommodate the search icon */
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
   
}

::placeholder{
    color: #fff;
    font-size: 18px;
}


.search-container button {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    border: none;
    cursor: pointer;
}
